.svgWrapper {
  display: flex;
  align-items: center;
  width: 320px;
  height: 56px;
}

.svgWrapper:hover .svgStroke {
  stroke: var(--Orange-100);
}

.label {
  position: absolute;
  left: 64px;
  color: var(--Orange-100);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%
}

.text {
  position: absolute;
  left: 88px;
  color: var(--Black-100);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
}

.inactive {
  stroke: var(--Black-40);
  fill: var(--White-100);
}

.hover:hover {
  border-color: #ffa500;
  background-color: white;
}

.selected {
  stroke: var(--Orange-100);
  fill: var(--Orange-5);
}

.correct {
  stroke: var(--Green-100);
  fill: var(--Green-5);
}

.wrong {
  stroke: var(--Red-100);
  fill: var(--Red-5);
}