.svgWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 320px;
  height: 56px;
  transition: 0.5s;
}

.label {
  position: absolute;
  left: 40px;
  color: var(--Orange-100);
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 116%
}

.text {
  position: absolute;
  left: 60px;
  color: var(--Black-100);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;

}

.inactive {
  stroke: var(--Black-40);
  fill: var(--White-100);
}

.selected {
  stroke: var(--Orange-100);
  fill: var(--Orange-5);
}

.correct {
  stroke: var(--Green-100);
  fill: var(--Green-5);
}

.wrong {
  stroke: var(--Red-100);
  fill: var(--Red-5);
}

.svgWrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  height: 1px;
  background-color: var(--Black-40);
  z-index: -1;
}

.svgWrapper.inactive::before {
  background-color: var(--Black-40);
}

.svgWrapper.wrong::before {
  background-color: var(--Red-100);
}

.svgWrapper.selected::before {
  background-color: var(--Orange-100);
}

.svgWrapper.correct::before {
  background-color: var(--Green-100);
}

@media (min-width: 768px) {
  .svgWrapper {
    width: 421px;
    height: 72px;
  }

  .label {
    font-size: 20px;
    left: 64px;
  }

  .text {
    font-size: 20px;
    left: 88px;
  }

  .svgWrapper:hover .svgStroke {
    stroke: var(--Orange-100);
    transition: 0.5s;
  }

  .svgWrapper:hover::before {
    background-color: var(--Orange-100);
    transition: 0.5s;
  }

  .svgWrapper.wrong:hover .svgStroke {
    stroke: var(--Red-100);
  }

  .svgWrapper.correct:hover .svgStroke {
    stroke: var(--Green-100);
  }

  .svgWrapper.wrong:hover::before {
    background-color: var(--Red-100);
  }

  .svgWrapper.correct:hover::before {
    background-color: var(--Green-100);
  }
}