.prizeLadder {
  width: 100%;
  min-height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prizeLadder svg {
  width: 240px;
  height: 32px;
}

.prize {
  position: absolute;
  color: var(--Black-100, #1C1C21);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
}

@media (min-width: 768px) {

  .prizeLadder svg {
    width: 240px;
    height: 40px;
  }

  .prize {
    font-size: 20px;
    font-style: normal;
  }
}

.inactive {
  stroke: var(--Black-40);
  color: var(--Black-40);
}

.active {
  stroke: var(--Orange-100);
  color: var(--Orange-100);
}

.default {
  stroke: var(--Black-40);
  color: var(--Black-100);
}

.prizeLadder::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  transform: translateY(-50%);
  height: 1px;
  background-color: var(--Black-40);
  z-index: -1;
}

.prizeLadder.active::before {
  background-color: var(--Orange-100);
}