.questionArea {
  height: calc(52vh - 16px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}

.answerSection {
  height: calc(48vh - 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answerItem {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .questionArea {
    height: calc(52vh - 32px);
    padding: 0 80px;
  }

  .answerSection {
    height: calc(48vh - 32px);
    width: 968px;
    padding-left: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }

  .answerItem {
    margin-bottom: 32px;
  }
}
