.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding: 16px 0px;
  overflow-y: auto;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  color: var(--Black-100);
}

@media (max-width: 767px) {
  .layout {
    flex-direction: column;
  }

  .menuButton {
    display: block;
    position: absolute;
    top: 5px;
    right: 7px;
  }
}