.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding: 16px 0px;
  overflow-y: auto;
}

.menuButton {
  display: none;
}

@media (max-width: 767px) {
  .layout {
    flex-direction: column;
  }

  .menuButton {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
